# Project-specific
src/magicbeans/data/*tex
src/magicbeans/data/*toc

# Byte-compiled / optimized / DLL files
__pycache__/
*~
\#*
.#*

# Distribution / packaging
.Python
/build/
/develop-eggs/
/dist/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
